section {
    background-color: #000000;
}


/* .btn {
    background-color: #3d3d3d !important;
} */

nav {
    background-color: #222222 !important;
}

body {
    background-color: #000000;
}

.padd {
    padding-top: 1500%;
}